doctype html
<title>ALMS</title>
|<link href="/static/css/bootstrap.min.css" rel="stylesheet">
|<link href="/static/css/shop-homepage.css" rel="stylesheet">
body
 include ../includes/nav.jade
 div.container
  div.row
   div.col-md-12
    ol.breadcrumb
     li Home
     li.active #{role}
  hr
  span Details
  div(style="background-color:#f5f5f5;border: 1px solid  #e3e3e3;border-radius:4px;min-height:100px;padding:10px;margin-top:10px")
    div.col-sm-5
     span Name:&nbsp;&nbsp;#{myBasicDetails.name}
    div.col-sm-5
     span Age:#{myBasicDetails.age}
    div.col-md-5
     span Email:&nbsp;&nbsp;#{myBasicDetails.email}
    div.col-sm-5
     span Joining Date:&nbsp;&nbsp;#{myBasicDetails.doj}
  hr
  div.row
   div.col-md-2
    table.table.table-bordered.table-striped
     thead
      tr
       td  type
       td  Availed
       td  Balance
       td &nbsp;
     tbody
      each ltype in myLeaves
       tr
        td #{ltype.name}
        td #{ltype.availed}
        td #{ltype.balance}
        if ltype.balance !== 0
         td
          a(href="javascript:openForm('#{ltype.name}', #{ltype.balance})") Apply
        else
         td &nbsp;
  div#applicationform(style="display:none")
   include ../includes/lappform.jade
 include ../includes/footer.jade
